In [46]:
#In order for this to work:
    #Log the chat using chatterino
    #Find the log you wanna collect the sub data from
    #Convert the .log file to .txt (Use any tool for this, online tools are great for this)
        #the above is done to preserve special characters such as Hiragana
    #Convert the .txt file to .csv
    #Open the .csv File in Excel
    #Select the 1st column in Excel
    #Click on Data in Excel's Menu
    #Click on Text to Columns
    #Unselect all options by clicking on them
    #select Custom
    #Type ":"
    #Apply
    #Click on the cell A1 and rename it to Hour
    #Click on the cell B1 and rename it to Minute
    #Click on the cell C1 and rename it to Name
    #Click on the cell D1 and rename it to Message
    #Save the File
    #Rename it to ChatLog(Alternatively just change the name below)
    #Place it in the same folder as this .ipynb file
#You gotta install pandas and numpy also
#Import excel with data
import pandas 

Chattable = pandas.read_excel("ChatLog2.xlsx")


#Couple the Date columns into one
Chattable = Chattable.drop(columns='Message')
Chattable = Chattable.drop(columns=['Unnamed: 4'])
Chattable = Chattable.drop(columns=['Unnamed: 5'])
Chattable = Chattable.drop(columns=['Unnamed: 6'])
Chattable = Chattable.drop(columns=['Unnamed: 7'])
Chattable = Chattable.drop(columns=['Unnamed: 8'])
Chattable = Chattable.drop(columns=['Unnamed: 9'])
Chattable = Chattable.drop(columns=['Unnamed: 10'])

                    #convert column to String
Chattable['Hour'] = Chattable['Hour'].astype(str)
Chattable['Minute'] = Chattable['Minute'].astype(str)

                    #Create new column from previous 2
Chattable['Time'] = Chattable['Hour'] + ":" + Chattable['Minute']

                    #change the new column's position to 1st 
timeloc = Chattable.pop('Time')
Chattable.insert(0, 'Time', timeloc)

                    #make the columns easier to read by removeing '[]'
Chattable['Time'] = Chattable['Time'].str[1:]
Chattable['Name'] = Chattable['Name'].str[3:]

            #Remove empty rows
Chattable = Chattable.dropna()

                    #remove unused columns
Chattable = Chattable.drop(columns='Hour')
Chattable = Chattable.drop(columns='Minute')
#Chattable['Time'] = pandas.concat(Chattable[['Hour'], Chattable['Minute']], axis=1)


#import re
#Chattable['Name'] = Chattable['Name'].str.findall('nyannHeh|nyannBlush', flags=re.IGNORECASE)

#Chattable[Chattable['Name'].str.contains("nyann")]

#Indentify all gifted sub collumns
#list them
display(Chattable)
#same for subscribed colliumns

        Time                Name
0       00:4    guywithnocoochie
1       00:4            Saturday
2       00:4            Saturday
3       00:4            Saturday
4       00:4            Saturday
...      ...                 ...
17780  17:29             qobblee
17781  17:37            extrahu3
17782  17:38             qobblee
17783  17:42            extrahu3
17784  17:44             qobblee

[17785 rows x 2 columns]

In [47]:
#Chattable["Name"].str.contains('is gifting').any()

gifted = Chattable.loc[Chattable["Name"].str.contains("is gifting", case=False)]
subscribed = Chattable.loc[Chattable["Name"].str.contains("subscribed", case=False)]
converted = Chattable.loc[Chattable["Name"].str.contains("converted", case=False)]
#cheer1 = Chattable.loc[Chattable["Name"].str.contains("cheer1", case=False)]
tempname = Chattable['Name']
Chattable = Chattable[['Time','Gifted']] = gifted
giftedloc = Chattable.pop('Gifted')
Chattable = Chattable.drop(columns=['Name'])
Chattable.insert(1, 'Gifted', giftedloc)
display(Chattable)
display(subscribed)
display(converted)
frames2 = [Chattable, subscribed, converted]

result2 = pandas.concat(frames2)
result2.to_csv('Subscriptions2.txt', sep='\t', index=False)

        Time                                             Gifted
1047   13:19   wildistraction is gifting 20 Tier 1 Subs to L...
1126   13:20   A_Flying_Ogre is gifting 10 Tier 1 Subs to Lu...
1169   13:20   whizzbandit is gifting 10 Tier 1 Subs to Lucy...
1200   13:21   nickatnight68 is gifting 10 Tier 1 Subs to Lu...
1242   13:21   RobSkello is gifting 5 Tier 1 Subs to LucyPyr...
1266   13:21   ReverseMortgage is gifting 10 Tier 1 Subs to ...
1269   13:21   guywithnocoochie is gifting 10 Tier 1 Subs to...
1293   13:22   xarsoth is gifting 5 Tier 1 Subs to LucyPyre'...
1374   13:23   リカシェード39 is gifting 69 Tier 1 Subs to LucyPyr...
1383   13:23   HeavensEdge_ is gifting 5 Tier 1 Subs to Lucy...
1685   13:25   ReverseMortgage is gifting 10 Tier 1 Subs to ...
1733   13:26   Adonteon is gifting 5 Tier 1 Subs to LucyPyre...
1840   13:27   ElijahPhantom is gifting 1 Tier 1 Subs to Luc...
1907   13:28   JriderX is gifting 10 Tier 1 Subs to LucyPyre...
1943   13:29   nickatnight68 is gifting 10 Tier 1 Subs to Lu...
2026   13:29   tlsmith3638 is gifting 5 Tier 1 Subs to LucyP...
2081   13:30   Jujuwhat is gifting 100 Tier 1 Subs to LucyPy...
2273   13:31   HeavensEdge_ is gifting 5 Tier 1 Subs to Lucy...
2288   13:31   dead_eye856 is gifting 5 Tier 1 Subs to LucyP...
2294   13:31   Flamewheel2001 is gifting 10 Tier 1 Subs to L...
2314   13:31   taboolix420 is gifting 5 Tier 1 Subs to LucyP...
2363   13:31   zerion_magna is gifting 1 Tier 1 Subs to Lucy...
2456   13:32   GhostJB88 is gifting 10 Tier 1 Subs to LucyPy...
2476   13:32   xarsoth is gifting 5 Tier 1 Subs to LucyPyre'...
2514   13:32   ReverseMortgage is gifting 100 Tier 1 Subs to...
2524   13:33   qobblee is gifting 5 Tier 1 Subs to LucyPyre'...
2655   13:33   A_Flying_Ogre is gifting 10 Tier 1 Subs to Lu...
2695   13:33   zerion_magna is gifting 1 Tier 1 Subs to Lucy...
2704   13:33   heresyslamyou is gifting 10 Tier 1 Subs to Lu...
2801   13:34   Brummelpuh is gifting 5 Tier 1 Subs to LucyPy...
2844   13:34   Vinuscar is gifting 1 Tier 1 Subs to LucyPyre...
2850   13:34   666magic is gifting 2 Tier 1 Subs to LucyPyre...
2862   13:34   orionsnecrosis is gifting 10 Tier 1 Subs to L...
2886   13:34   afronooch is gifting 1 Tier 1 Subs to LucyPyr...
2889   13:34   A_Flying_Ogre is gifting 100 Tier 1 Subs to L...
3066   13:35   Mikechamp97 is gifting 1 Tier 1 Subs to LucyP...
3093   13:35   googy is gifting 1 Tier 1 Subs to LucyPyre's ...
3162   13:36   zerion_magna is gifting 1 Tier 1 Subs to Lucy...
3165   13:36   An anonymous user is gifting 10 Tier 1 Subs t...
3269   13:36   paladin_borrace is gifting 10 Tier 1 Subs to ...
3362   13:37   lirio_silren is gifting 1 Tier 1 Subs to Lucy...
3373   13:37   JriderX is gifting 25 Tier 1 Subs to LucyPyre...
3481   13:38   Time2DONK is gifting 5 Tier 1 Subs to LucyPyr...
3507   13:38   viennesewhirl is gifting 10 Tier 1 Subs to Lu...
3521   13:38   mostlyblissfull is gifting 5 Tier 1 Subs to L...
3527   13:38   bragg_potpie is gifting 1 Tier 1 Subs to Lucy...
3540   13:38   Tau_Burn is gifting 20 Tier 1 Subs to LucyPyr...
3673   13:40   zerion_magna is gifting 1 Tier 1 Subs to Lucy...
3712   13:40   FartMasterFlexx is gifting 5 Tier 1 Subs to L...
3756   13:41   j_okami08 is gifting 2 Tier 1 Subs to LucyPyr...
3771   13:41   Antiformroxas is gifting 5 Tier 1 Subs to Luc...
3921   13:43   Hallizard is gifting 1 Tier 1 Subs to LucyPyr...
3973   13:43   Tau_Burn is gifting 5 Tier 1 Subs to LucyPyre...
4991   13:54   manteau is gifting 1 Tier 1 Subs to LucyPyre'...
17189  16:16   ZaylBlackheart is gifting 10 Tier 1 Subs to L...

        Time                                               Name
1465   13:23   CyberianWinter subscribed at Tier 1. They've ...
1538   13:23   BaddieStyle subscribed at Tier 1. They've sub...
1565   13:24   SoddenFool subscribed at Tier 1. They've subs...
1570   13:24   RobSkello subscribed at Tier 1. They've subsc...
1860   13:27   Walkthrowdude subscribed at Tier 1. They've s...
1878   13:28   taboolix420 subscribed with Prime. They've su...
2245   13:30   drew8603 subscribed at Tier 1. They've subscr...
2330   13:31   CainaGokai subscribed at Tier 1. They've subs...
2353   13:31   CFBishop subscribed at Tier 1. They've subscr...
2501   13:32   cardboard_the_weeb subscribed at Tier 1. They...
3153   13:36   bilwolf13 subscribed at Tier 1. They've subsc...
3342   13:37                GabrielShears subscribed at Tier 1.
3458   13:38   sigphreed subscribed at Tier 1. They've subsc...
3899   13:43   Jgar167 subscribed at Tier 1. They've subscri...
4075   13:44   OverlordLaharl subscribed with Prime. They've...
4745   13:51                 InuYasha1911 subscribed at Tier 1.
5004   13:54   nickatnight68 subscribed at Tier 1. They've s...
5058   13:54   shadowolf9572 subscribed at Tier 1. They've s...
5068   13:55   Sir_Gio27 subscribed at Tier 1. They've subsc...
5350   13:58   woofwoef subscribed at Tier 3. They've subscr...
5466   13:58   zirpharis subscribed at Tier 1. They've subsc...
5482   13:59   odenson94 subscribed at Tier 1. They've subsc...
5563    14:0   D_Kaiju subscribed with Prime. They've subscr...
5734    14:1   5MIIZ3 subscribed at Tier 3. They've subscrib...
7693   14:21                  Sapphire994 subscribed at Tier 1.
8107   14:25   Mavierzz subscribed at Tier 1. They've subscr...
8337   14:28   vVinnsSmokev subscribed at Tier 1. They've su...
9306   14:41   lefttoast1 subscribed at Tier 2. They've subs...
10661  14:55   Zeanoe subscribed with Prime. They've subscri...
11808   15:6   cptthighhighs subscribed at Tier 1. They've s...
11861   15:6   Yovahkiin subscribed at Tier 1. They've subsc...
12252  15:10   NewtypeVigilante subscribed at Tier 1. They'v...
12977  15:20   PollExx721 subscribed at Tier 1. They've subs...
13335  15:25             eatin_paintchips subscribed at Tier 1.
14740  15:45            AmbiguityAmbivert subscribed at Tier 1.
15007  15:50                     sanhsun subscribed with Prime.
15652  15:59                   inari0707 subscribed with Prime.
17126  16:16   420kaze subscribed at Tier 1. They've subscri...

       Time                                               Name
4625  13:50   Retoran converted from a Prime sub to a Tier ...

In [48]:
frames = [Chattable, subscribed, converted]

result = pandas.concat(frames)
result.to_excel("Subscriptions.xlsx")
display(result)

,Time,Gifted,Name
1047,13:19,wildistraction is gifting 20 Tier 1 Subs to L...,NaN
1126,13:20,A_Flying_Ogre is gifting 10 Tier 1 Subs to Lu...,NaN
1169,13:20,whizzbandit is gifting 10 Tier 1 Subs to Lucy...,NaN
1200,13:21,nickatnight68 is gifting 10 Tier 1 Subs to Lu...,NaN
1242,13:21,RobSkello is gifting 5 Tier 1 Subs to LucyPyr...,NaN
...,...,...,...
14740,15:45,NaN,AmbiguityAmbivert subscribed at Tier 1.
15007,15:50,NaN,sanhsun subscribed with Prime.
15652,15:59,NaN,inari0707 subscribed with Prime.
17126,16:16,NaN,420kaze subscribed at Tier 1. They've subscri...
4625,13:50,NaN,Retoran converted from a Prime sub to a Tier ...