In [2]:
import pandas as pd

df = pd.read_csv("ChatLog.log", sep=" \] ", header=None, names=["Time", "Name", "Message"], na_filter=False)
# display(df)

df['Time'] = df['Time'].astype(str)
# df['Name'] = df['Name'].astype(str)
# df['Message'] = df['Message'].astype(str)

Time = df['Time'].str[:10]
#display(Time)

Name = df["Time"].str[10:]
# display(Name)

df["Time"] = Time
df["Name"] = Name
df["Message"] = df["Name"].str.split(':').str[1]
df["Name"] = df["Name"].str.split(':').str[0]

systemmessage = df["Name"].where(df["Name"].notna() & df["Message"].isna())
Name = df["Name"].where(df["Name"].notna() & df["Message"].notna()) #use this value when returning only user messages

#Systemmessages = df['Name'].where(df['Message'].isna(), df['Message'])

#df.dropna(subset = ['Name', 'Message'], inplace=True)

#df["System Messages"] = Systemmessages

display(df)
df.to_csv('Output.txt', sep='\t', index=False)

C:\Users\nicol\AppData\Local\Temp\ipykernel_6628\884086313.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("ChatLog.log", sep=" \] ", header=None, names=["Time", "Name", "Message"], na_filter=False)

             Time                           Name     Message
0      # Start lo         gging at 2023-09-30 00          04
1      [00:04:54]               guywithnocoochie       wooot
2      [00:04:54]   Saturday, September 30, 2023         NaN
3      [00:04:54]   Saturday, September 30, 2023         NaN
4      [00:04:54]   Saturday, September 30, 2023         NaN
...           ...                            ...         ...
17781  [17:29:21]                        qobblee    elisSpin
17782  [17:37:22]                       extrahu3   meatsSPIN
17783  [17:38:58]                        qobblee    elisSpin
17784  [17:42:51]                       extrahu3   meatsSPIN
17785  [17:44:42]                        qobblee    elisSpin

[17786 rows x 3 columns]

In [3]:
#display(df.info())
#df["Name"].str.contains('is gifting').any()

# gifted = df.loc[df[""].str.contains("is gifting", case=False)]
# subscribed = df.loc[df["Time"].str.contains("subscribed", case=False)]
# converted = df.loc[df["Time"].str.contains("converted", case=False)]
# #cheer1 = df.loc[df["Name"].str.contains("cheer1", case=False)]
# tempname = df['Name']
# df = df[['Time','Gifted']] = gifted
# giftedloc = df.pop('Gifted')
# df = df.drop(columns=['Name'])
# df.insert(1, 'Gifted', giftedloc)
# display(df)
# display(subscribed)
# display(converted)
# frames2 = [df, subscribed, converted]

# result2 = pandas.concat(frames2)

df["System Message"] = systemmessage
df = df.drop(columns='Name')
df = df.drop(columns='Message')

gifted = df.loc[df["System Message"].str.contains("is gifting",na=False, case = False)]

subscribed = df.loc[df["System Message"].str.contains("subscribed at | subscribed with",na=False, case = False)] 

converted = df.loc[df["System Message"].str.contains("converted from",na=False, case = False)]



#df["System Message"] = gifted

frames2 = [gifted, subscribed, converted]
Result = pd.concat(frames2)
display(Result)
Result.to_csv('TotalSubscribers.txt', sep='\t', index=True)

             Time                                     System Message
1048   [13:19:20]   wildistraction is gifting 20 Tier 1 Subs to L...
1127   [13:20:10]   A_Flying_Ogre is gifting 10 Tier 1 Subs to Lu...
1170   [13:20:43]   whizzbandit is gifting 10 Tier 1 Subs to Lucy...
1201   [13:21:02]   nickatnight68 is gifting 10 Tier 1 Subs to Lu...
1243   [13:21:32]   RobSkello is gifting 5 Tier 1 Subs to LucyPyr...
...           ...                                                ...
14741  [15:45:05]            AmbiguityAmbivert subscribed at Tier 1.
15008  [15:50:12]                     sanhsun subscribed with Prime.
15653  [15:59:52]                   inari0707 subscribed with Prime.
17127  [16:16:04]   420kaze subscribed at Tier 1. They've subscri...
4626   [13:50:49]   Retoran converted from a Prime sub to a Tier ...

[94 rows x 2 columns]

In [4]:
df = pd.read_csv("ChatLog.log", sep=" \] ", header=None, names=["Time", "Name", "Message"], na_filter=False)
# display(df)

df['Time'] = df['Time'].astype(str)
# df['Name'] = df['Name'].astype(str)
# df['Message'] = df['Message'].astype(str)

Time = df['Time'].str[:10]
#display(Time)

Name = df["Time"].str[10:]
# display(Name)

df["Time"] = Time
df["Name"] = Name
df["Message"] = df["Name"].str.split(':').str[1]
df["Name"] = df["Name"].str.split(':').str[0]

systemmessage = df["Name"].where(df["Name"].notna() & df["Message"].isna())
Name = df["Name"].where(df["Name"].notna() & df["Message"].notna()) #use this value when returning only user messages

df = df.dropna()

#Systemmessages = df['Name'].where(df['Message'].isna(), df['Message'])

#df.dropna(subset = ['Name', 'Message'], inplace=True)

#df["System Messages"] = Systemmessages

#display(df)
df.to_csv('ChatHistory.txt', sep='\t', index=False)

#display(df.loc[df["Message"]==" 2"])
Counter1 = (df['Message'].value_counts()[' 1'])
Counter2 = (df['Message'].value_counts()[' 2'])
#Question: 
#1-I'm a bonafied woman
#2-I'm a guy with a voice changer
display(Counter1)
display(Counter2)

C:\Users\nicol\AppData\Local\Temp\ipykernel_6628\2768006901.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("ChatLog.log", sep=" \] ", header=None, names=["Time", "Name", "Message"], na_filter=False)

3

7